<!-- displays a single post in the list -->

<ul>
	<li ng-model="string">{{$ctrl.post.title}}
		<span>{{$ctrl.post.thought}}</span>
	</li>
</ul>



<!-- <div class="newpost">
    <h2 class="title">{{$ctrl.item.title}}</h2>
    <img class="delete" ng-click="$ctrl.delete" src="delete.png" title="delete button" alt="delete button">
    <p class="thought">{{$ctrl.item.thought}}</p>
    
</div> -->


<!-- 
<button class = "addPost" ng-click = "$ctrl.onSubmit ({title: $ctrl.textTitle, thought: $ctrl.textThought})"></button> -->