<!-- i. It owns the list of posts.
ii. Its template contains the ng-repeat for posts and the “New Post” button.
iii. The other two components are created inside of its template. -->
<main>
	<h1>My Thoughts</h1> 
	<div>
		<button class="button" ng-click="$ctrl.">New Thought</button>
    <section>
        <ul> 
        <post class="newPosts" ng-repeat="post in $ctrl.posts" post="post"></post>
        </ul>
    </section>
</main>


<post-form></post-form>
<!-- <post-form  ng-if= "$ctrl.show === true" on-submit ="$ctrl.addPost"></post-form>

 -->

<!-- 
ng click  shows up when true -->


<!-- If the expression assigned to ngIf evaluates to a false value then the element is removed from the DOM, 
 -->

<!-- The ngClick directive allows you to specify custom behavior when an element is clicked.



 -->


